.page-header {
	background: $mine-shaft;
	color: #fff;
	width: 100%;
	height: 75px;
	padding: 0 20%;

	&__heading {
		float: left;
		margin: 0;
		@include vertical-align-all();
	}

	&__links {
		font-size: 1.5em;
		float: right;
		@include vertical-align-all();

		li {
			display: inline-block;
			margin: 0 0 0 1.5em;
		}
	}

	a {

		&:hover {
			color: rgba(white, 0.8);
		}
	}
}

.splash {
	font-size: 8vw;

	h2 {
		margin: 5% 0 0 0;
		text-align: center;
		line-height: 1.1;
	}
}

.skills {
	display: flex;
	flex-wrap: wrap;
	padding: 2% 0 0 0;
	background: radial-gradient(ellipse farthest-corner at 0% 100%, rgba(104,128,138,0.4) 10%, rgba(138,114,76,0) 40%),linear-gradient(to bottom, rgba(57,173,219,0.25) 0%, rgba(42,60,87,0.4) 100%),linear-gradient(135deg, #670d10 0%, #092756 100%);

  	&__header {
  		color: white;
  		padding: 0 0.5em;
  		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-basis: 25%;
  	}

	&__heading {
		@include gradient-heading();
	}

	&__list {
		background: white;
		flex-basis: 25%;
		padding: 0 1.5em;
	}

	&__description {
		border-right: 5px solid lighten(silver, 20%);
		padding: 0 1.5em 0 0;
	}
	
}

.projects {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	margin: 5% 0;
	padding: 2% 0 0 0;
	background: radial-gradient(ellipse farthest-corner at 0% 100%, rgba(104,128,138,0.4) 10%, rgba(138,114,76,0) 40%),linear-gradient(to bottom, rgba(57,173,219,0.25) 0%, rgba(42,60,87,0.4) 100%),linear-gradient(135deg, #670d10 0%, #092756 100%);


	&__header {
		color: white;
		padding: 0 0.5em;
  		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-basis: 40%;
  	}

	&__heading {
		@include gradient-heading();
	}

	&__section {
		background: white;
		flex-basis: 20%;
		padding: 0 1.5em;
	}
}

.page-footer {
	background: $mine-shaft;
	color: white;
}