html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  font: 16px/1 "Open Sans", sans-serif; }

iframe {
  border: 0; }

h1,
h2,
h3,
h4,
p,
ul,
ol,
blockquote,
figure,
button {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4,
h5,
p {
  font-size: inherit; }

strong {
  font-weight: bold; }

sup {
  position: relative;
  top: -.5em;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline; }

a,
button {
  color: inherit;
  transition: 0.3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit; }
  button:focus {
    outline: 0; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

body {
  color: #333333;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7; }

main a {
  color: #333333;
  box-shadow: inset 0 -4px 0 #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  transition: all 0.3s ease; }
  main a:hover {
    background: #C0C0C0; }
  main a:active {
    background: #dadada; }

h1, h2, h3 {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 2.2em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

.page-header {
  width: 100%;
  height: 400px;
  padding: 75px 0 0 0;
  background-image: radial-gradient(circle at top left, #048091, #648091); }
  .page-header a {
    color: rgba(255, 255, 255, 0.7); }
    .page-header a:hover {
      color: rgba(255, 255, 255, 0.9); }
    .page-header a:active {
      background: rgba(0, 0, 0, 0.1); }
  .page-header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: rgba(3, 84, 95, 0.9);
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.1);
    z-index: 10; }
  .page-header__links {
    padding: 0 5%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto; }
  .page-header__splash {
    padding: 0 5%;
    color: white;
    font-size: 1.5em;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto; }

.skills__list li {
  font-size: 1.1em;
  padding: 5px;
  width: 60%;
  margin: 20% 0 0 -5% px;
  text-align: right;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  background-image: linear-gradient(to left, #048091, white); }
