html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  font: 16px/1 "Open Sans", sans-serif; }

iframe {
  border: 0; }

h1,
h2,
h3,
h4,
p,
ul,
ol,
blockquote,
figure,
button {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4,
h5,
p {
  font-size: inherit; }

strong {
  font-weight: bold; }

sup {
  position: relative;
  top: -.5em;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline; }

a,
button {
  color: inherit;
  transition: 0.3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit; }
  button:focus {
    outline: 0; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

body {
  font-size: 1em;
  font-family: "Open Sans", sans-serif; }

a {
  color: #333333;
  border-bottom: 2px solid #C0C0C0;
  transition: all 0.3s ease; }
  a:hover {
    color: #666666;
    border-bottom: 2px solid #8d8d8d;
    padding-bottom: 1px; }
  a:active {
    font-weight: bold; }

h1, h2, h3 {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }
