@media screen and (min-device-width: 1200px) { 

	.page-header {
		height: 375px;

		&__links {
			width: 50%;
		}

		&__splash {
			width: 50%;
		}

		&__tea {
			width: 40%;
			left: 30%;
			top: -15%;
		}
	}

	.skills {
		width: 70%;
		margin: 0 auto;

		&__list {
			padding: 1%;
			flex-basis: 45%;
			background: rgba(white, 0.4);
			border: 1px solid rgba($silver, 0.4);
			margin: 0 2% 2% 0;

			&:nth-child(odd) {
				margin-right: 0;
			}

			&:last-child {
				flex-basis: 92%
			}
		}

		&__description {
			padding: 5%;
		}
	}

	.projects {

		&__section {
			padding: 1%;
			flex-basis: 25%;
		}
	}

}